<?xml version="1.0" encoding="iso-8859-1"?>
<!--  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
          "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>-->

{% block style %}{% endblock %}
<link rel="stylesheet" href="/static/default.css" type="text/css" />

</head>
<body>
<div id="breadcrumb">
{% block breadcrumb %}{% endblock %}


</div>

<div id="title">
<h2>{% block title %}{% endblock %}</h2></div>

<div id="main">
{% block detail %}{% endblock %} 
</div>
</body>

</html>